<h2>Thank you for a Order</h2>
<p>Store: @ViewBag.Order.Store</p>
@foreach (var pizza in ViewBag.Order.Pizzas)
{
  <p>Pizza: @pizza</p>
  <p>Crust: @pizza.Crust</p>
  <p>Size: @pizza.Size</p>
  <p>Toppings:</p>
  <ul>
  @foreach (var topping in pizza.Toppings)
    {
      <li>@topping</li>
    }
  </ul>
}
<a href="/home">Home</a>