@model PizzaBox.Client.Models.OrderViewModel;
<legend>Your Order History</legend>
@foreach (var item in ViewBag.Orders)
{
  <p>Store: @item.Store</p>
  @foreach (var pizza in item.Pizzas)
  {
    <p>Pizza: @pizza</p>
    <p>Crust: @pizza.Crust</p>
    <p>Size: @pizza.Size</p>
    <p>Toppings:</p>
    <ul>
  @foreach (var topping in pizza.Toppings)
      {
        <li>@topping</li>
      }
    </ul>
  }
}
<form action="/home">
  <fieldset>
    <input id=@Model.SelectedCustomer name="SelectedCustomer" value=@Model.SelectedCustomer hidden>
    <input type="submit" value="Home">
  </fieldset>
</form>